{% extends 'base.html' %} {% load static %} {% block head %}
<link
    rel="stylesheet"
    href="{% static 'css/orders/orders-index.css'}"
/>
{% endblock %} {% block content %}

<section class="page-header">
    <h1>Orders List</h1>

</section>

<section class="card-container">
    {% for order in orders %}
    <div class="card">
        <a href="/orders/{{ order.id }}">
        <div class="card-content">
            <div class="card-img-container">
                <img
                src="{% static 'images/sushi-illustration.png' %}"
                alt="sushi-illustration"
                />
            </div>
            <h2 class="card-title">{{ order.name }}</h2>
            <p>{{ order.price }}</p>
        </div>
    </a>
    </div>
    {% empty %}
    <p class="empty-message">Opi, no sushi yet 🍣</p>
    <button>
        <a href="{% url 'order-create' %}">Start Creating</a>
    </button>
    
    {% endfor %}
</section>
{% endblock %}