{% extends 'base.html' %} {% load static %} {% block head %}
<link
    rel="stylesheet"
    href="{% static 'css/orders/orders-index.css'}"
/>
{% endblock %} {% block content %}

<section class="page-header">
    <h1>Orders List</h1>

</section>

<section class="card-container">
    {% for order in orders %}
    <div class="card">
        <div class="card-content">
            <div class="card-img-container">
                <img
                src="{% static 'images/sushi-illustration.png' %}"
                alt="sushi-illustration"
                />
            </div>
            <h2 class="card-title">{{ order.name}}</h2>
            <p class="card-title">{{ order.price}}</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}