{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-header">
    <h1>Delete Order?</h1>
    <!-- <img src="{% static 'images/sushi-illustration.png' %}" alt="sushi illustration"> -->
    <h2>Are you sure you want to delete {{ order.name }}</h2>
</div>


<form action="" method="post" class="form">
    {% csrf_token %}
    <a href="{% url 'order-detail' order.id %}" class="btn secondary">Cancel</a>
    <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}