{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block content %}

<div class="page-header"> 
    <h1 id="create-sushi">Create a Sushi</h1>
    <img src="{% static 'images/sushi-illustration.png' %}" alt="sushi illustration">


<form action="" method="post" class="form-container">
    {% csrf_token %}
    
    <div class="row-inline">
      <div class="form-group">
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
      <div class="form-group">
        {{ form.type.label_tag }}
        {{ form.type }}
      </div>
    </div>
    
    <div class="form-group">
      {{ form.ingredients.label_tag }}
      <div class="ingredients-group">
        {% for checkbox in form.ingredients %}
          <label>{{ checkbox.tag }} {{ checkbox.choice_label }}</label>
        {% endfor %}
      </div>
    </div>

    <div class="form-group">
      {{ form.price.label_tag }}
      {{ form.price }}
    </div>
  
    <button type="submit" class="btn submit">Submit</button>
</form>
</div>

{% endblock %}
